<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="253d41a2-12f2-4272-b19a-0bfb2c855d76" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="253d41a2-12f2-4272-b19a-0bfb2c855d76fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>